body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul{
    padding-left: 0%;
    margin-left: 0%;
}

/*--------------------
     common codes 
----------------------*/

.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.color-button{
    background: lightseagreen;
    border-radius: 1em;
    color: #FFFFFF;
}

/*--------------------
     banner-starts 
----------------------*/

.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-around; */
    background: #161616;
    border-radius: 2em;
    /* padding-bottom: 0; */
    margin-bottom: 6em;
    margin-top: 2em;
}

.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding: 3em 2em 1em 4em;   
}

.title{
    font-weight: 700;
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.8em;  
}

.title-description{
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 0%;
    margin-bottom:2em;   
}

.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 187px;
    height: 56px;
    padding-left: 3em;
    justify-content: flex-start;
    gap:1em; 
}

.fa-angle-right{
    color: #FFFFFF;
}

.player-img{
    
    width: 100%;
    padding-right: 0;
    margin: 0%;   
}

/* --------------------
   blog section start 
-----------------------*/

.blog-section{
    display: grid;
    grid-template-columns:1fr 3fr;
    margin-bottom: 3em;
  
}

.side-menu{
    display: flex;
    flex-direction: column;
    background: #161616;
    border-radius: 1em;
    width: 15em;
    height: 14em;
    margin-right:1em;
    padding: 1em;
}

.menu-item{
    text-align: center;
    padding: 1em 1.2em;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #FFFFFF;
    /* height: 60px;
    width:300px; */ 
    border-radius: 1em;
}

.menu-item a{
    text-decoration: none;
    color: black;
}

/* selected page identifier */

.selected-item{
    background: lightseagreen;  
}

.selected-item a{
    color: #ffffff;
}

.blogs{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:1em;
    margin-bottom: 1em;
    
}
.blog{
    width: auto;
    height: auto;  
    border: 0.01em solid lightgray;
    border-radius: 1em;
}

.blog img{
    width:100%;
}

.blog-details{
    padding: 1em;
}

.blog-button{
    background-color: #FFFFFF;
    padding: 0.5em 1.2em;
    border-radius: 0.3em;
    border: 0.1em solid gray;
}

.time{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    width: 50%; 
    gap: 1em;
}

.time p{
    margin: 0em ;
}

.fa-comment-dots{
    margin-left: 1em;
    color: darkcyan;
}

#hidden-button{
    display: none;   
}

/* footer */

footer{
    background-color: #161616;
    margin-bottom: 0;
}

.footer{
    width:80%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 3em;
    text-align: center;
}

.footer p{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 3em;
    line-height: 1.5em;
    padding-top: 2em;
    
}

.footer hr{
    border: 0.05em solid rgba(255, 255, 255, 0.1);
}

 /* footer information */

.footer-info ul{
    list-style: none;
    display: flex;
    justify-content: center;
    color: #B9B9B9; 
    font-weight: 500;
    font-size: 1em;
}

.footer-info ul li{
    margin-right: 1em;
    margin-left: 1em; 
}

/* icons */

.icons{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-around;
}

/* social icons */
.fa-brands{
color: lightseagreen;
font-size: 2em;
margin-right:1em ;
}

/* second website */

.matches{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: center;
    justify-content: space-around;
    gap:1em;
 }

 .match-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.5em;
    border: 0.02em solid gray;
    border-radius: .4em;
    text-align: center;
    margin-bottom: 1em;
 }

 /* match details */
 .match{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;  
 }
 
 .match h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    margin-bottom: 0%;
    padding-bottom: 0%;
 }

 .date{
    margin-top: 0%;
    font-size: 16px;
    line-height: 20px;
    color: #4D4D4D;
    font-weight: 400;
 }
 

/* media query */

/* for mobile */
@media only screen and (max-width:688px){

    .container{
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        margin-top: 0em;
    }

    .banner, .blog-section, .matches, .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 1em;
        width: 100%;
        justify-content: center;
        align-items: center;  
    }

    .title{
        font-weight: 700;
        font-size: 3em;
    }

    .player-img{
       max-width: 100%;
    }
    
    .side-menu{
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        background-color: #FFFFFF;
        justify-content: center;
    }

    .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em 1.2em;
        margin-bottom: auto;
        margin-top: auto;
        border: .03em solid #1616165b; 
    }

    .footer{
    max-width: 100%;
    }

    .footer p{
        margin-bottom: 1em;
    }

    .footer-info ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* margin-bottom: 2em; */

    }
    .icon{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        justify-content: center;
        gap:0;
    }
    .footer-info ul li{
        padding-bottom: 1em;
        
    }


}
/* for tab */
@media only screen and (min-width:689px) and (max-width:992px){
    .container{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    .blog-section{
        display: flex;
        flex-direction: column;
    }

    .title{
        font-weight: 700;
        font-size: 2.5em;
        line-height: 1.2em;
        margin-bottom: 0.5em;
        margin-top: 0.5em;
        
    }
    .banner{
        display: flex;
        justify-content: flex-end;
        margin-bottom: 2em;
    }

    .player-img{
        width: 100;
        padding-right: 0;
        margin: 0;
    }

     .blogs, .matches{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap:1em;
        padding: 1.5em;
    }
        
    .side-menu{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        justify-content: center;
        align-items: center;
        background: white;
        border-radius: 1em;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 100px;
        /* margin-right:3em;
        padding: 10em; */
    }

    .menu-item{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 40px;
        width: 150px;
        margin: 2em 1em;
        /* color:#161616; */
        /* margin-right: auto; */
        /* padding: 20px 30px; */
        /* margin-bottom: 4em;
        margin-top: 3em; */
        background-color: #FFFFFF;
        border: 1px solid black;
        border-radius: 1em;
    }

    .selected-item{
        background: lightseagreen;  
    }

    .selected-item a{
        color: #ffffff;
    }

     /* for view button */
    #hidden-button{
        display: flex;
        align-items: center;
        width: 187px;
        height: 56px;
        justify-content: center;
        margin: auto;
    }
    
    .icons{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap:2em; 
    }

  
}
 