body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}
/*--------------------
     common codes 
----------------------*/
.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.color-button{
    background: lightseagreen;
    border-radius: 1em;
    color: #FFFFFF;
}

/*--------------------
     banner-starts 
----------------------*/
.banner{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    /* justify-content: space-around; */
    background: #161616;
    border-radius: 2em;
    /* padding-bottom: 0; */
    margin-bottom: 6em;
    margin-top: 2em;
}

.banner-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #FFFFFF;
    padding: 3em 2em 1em 4em;

    
}
.title{
    border: 2px solid darkorange ;
    font-weight: 700;
    font-size: 4em;
    line-height: 1.2em;
    margin-bottom: 0.5em;
    margin-top: 0.8em;
    
}
.title-description{
    font-weight: 400;
    font-size: 1em;
    line-height: 1.6em;
    margin-top: 0%;
    margin-bottom:2em;
    
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 187px;
    height: 56px;
    padding-left: 3em;
    justify-content: flex-start;
    gap:1em;
    
}
.fa-angle-right{
    color: #FFFFFF;
}
.player-img{
    
    width: 100%;
    padding-right: 3em;
    margin-top: 1em;
    margin-bottom: 0%;

}
/* --------------------
   blog section start 
-----------------------*/
.blog-section{
    display: grid;
    grid-template-columns:1fr 3fr;
    margin-bottom: 3em;
  
}
.side-menu{
    display: flex;
    flex-direction: column;
    background: #161616;
    border-radius: 1em;
    width: 15em;
    height: 14em;
    margin-right:1em;
    padding: 1em;
}
.menu-item{
    text-align: center;
    padding: 1em 1.2em;
    margin-bottom: auto;
    margin-top: auto;
    background-color: #FFFFFF;
    /* height: 60px;
    width:300px; */ 
    border-radius: 1em;
}

#selected-item{
    background: lightseagreen;
    
}
#selected-item a{
    color: #ffffff;
}
.menu-item a{
    text-decoration: none;
    color: black;
}
.blogs{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap:1em;
    
}
.blog{
    width: auto;
    height: auto;  
    border: 0.01em solid lightgray;
    border-radius: 1em;
/* width: 80%; */

}
.blog img{
    width:100%;
}
.blog-details{
    padding: 1em;
}
.blog-button{
    
    background-color: #FFFFFF;
    padding: 0.5em 1.2em;
    border-radius: 0.3em;
    border: 0.1em solid gray;
}
.time{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    width: 50%; 
    gap: 1em;
}
.time p{
    margin: 0em ;
}
.fa-comment-dots{
    margin-left: 1em;
}
#hidden-button p{
    display: flex;
    justify-content: center;
    display: none;   
}

/* footer */
footer{
    background-color: #161616;
    /* padding: 1em; */
}
.footer{
    width:80%;
    margin: auto;
    text-align: center;

}
.footer p{
    border: 2px solid deeppink ;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 3em;
    line-height: 2em;
}
.footer hr{
    border: 0.05em solid rgba(255, 255, 255, 0.1);
    border: 2px solid deeppink ;
}
 /* footer information */
.footer-info ul{
    border: 2px solid deeppink ;
    list-style: none;
    display: flex;
    justify-content: center;
    color: #B9B9B9; 
    font-weight: 500;
    font-size: 1em;
    line-height: 1em;
    margin-bottom: 5em; 
}
.footer-info ul li{
    margin-right: auto;
    margin-left: auto;
    
}
@media only screen and (max-width:688px){
    .container{
        border: 2px solid navy ;
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        background-color: aqua;
        margin-top: 1em;

    }


    .banner, .blog-section, .blogs{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        row-gap: 1em;
        width: 100%;
        justify-content: center;
        align-items: center;
        
    }
    .player-img{
        width: 100%;
    }
    
    .side-menu{
        /* border: 2px solid deeppink ; */
        display: flex;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
        background-color: #FFFFFF;
        justify-content: center;
        

    }
    .menu-item{
        display: flex;
        justify-content: center;
        /* text-align: center; */
        align-items: center;
        padding: 1em 1.2em;
        margin-bottom: auto;
        margin-top: auto;
        border: .03em solid #161616; 
    }

    .footer{
    width: 100%;
    margin-bottom: 1em;
    border: 2px solid red;
    }
    .footer p{
        margin-bottom: 1em;
    }
    .footer-info ul{
        
        display: flex;
        flex-direction: column;
        justify-content: center;

    }
    .footer-info ul li{
        padding-bottom: 1em;
        margin-right: auto;
        margin-left: auto;
        
    }
    main{
        margin: 0%;
        padding: 0%;
        border: 3px solid greenyellow;
    }

}
